.aboutcon{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
    overflow: hidden;
     transition: all 0.6s ease-in-out;
     
}
.nav>ul>li>a{
    color:inherit;
    text-decoration: none;
}
.aboutcon::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%,-50%);
    background: radial-gradient(circle,
     rgba(0,200,255,0.6)  1%,
     rgba(0,100,255,0.4) 30%,
     rgba(0,0,0,0) 69%
     );
    filter: blur(100px);
    z-index: 0;
   
    animation: Glow 4s infinite ease-in-out;
}

.aboutcon*{
     position: relative;
    z-index: 1;
}
@keyframes Glow {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.3); /* thoda glow badhega */
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* smoothly wapas normal ho jayega */
    }
}
.nav{
    display: flex;
   transition: all 0.6s ease-in-out;
     animation: Side 3s  ;
    height: 100%;
width :20%;
justify-content: space-between;
align-items: center;

transition: all 0.4s ease-in-out;
flex-direction: column;

}
.nav>img{
    margin-top: 20px;
height: 40%;
width: 90%;
border-radius: 50%;
object-fit: cover;
transition: all 0.6s ease-in-out;
     animation: Side 3s  ;
     border: 2px solid wheat;
animation: Glowring 2s infinite alternate;
}


.nav>ul{
    transition: all 0.6s ease-in-out;
     animation: Side 3s  ;

    display: flex;
    height: 60%;
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: wheat;
}
.nav>ul>li{
    list-style: none;
    font-size: larger;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
     cursor: pointer;
    
}
.nav>ul>li:hover{
    list-style: none;
  border-bottom: 1px solid purple;
    font-weight: 700;
    text-shadow: 0px 0px 12px wheat;
    transform: scale(1.1);
}


/* ABOUT SECTION */

.logo{
    display: flex;
    height: 100vh;
    width: 80vw;

    position: absolute;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    
    /* Ye lines add karein */
    top: 50px;
    right: 50px;
}
.logo > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    transition: all 0.6s ease-in-out;
    font-size: 90px; /* Thoda bada kiya taaki nazar aaye */
    color: wheat;
    height: 140px;
    width: 60%;
    border-radius: 25px;
   font-weight: 600;
    animation: Up-down 3s;
   
}
.logo>h1:hover{
     text-shadow: 0px 0px 15px wheat;
}
.logo > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.6s ease-in-out;
    font-size: 30px; /* Thoda bada kiya taaki nazar aaye */
    color: white;
    font-weight: 300;
    width: 100%;
    gap: 4px;
    animation: Fade 3s;
   
}
.logo > h2 > span {
    color: blue;
    font-weight: 600;
    font-size: 35px;
    transition: all 0.6s ease-in-out;
    animation: Fade 3s;
}
.logo > h2 > span:hover{
    color: purple;
    font-weight: 600;
    font-size: 35px;
    text-shadow: 0px 0px 10px purple;
}


.para{
    color: white;
    margin-left: 20px;
        transition: all 0.6s ease-in-out;
        animation: Fade 3s;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
gap: 20px;
}
.para>h3{
    object-fit: contain;
     transition: all 0.6s ease-in-out;
        animation: Fade 3s;
    font-weight: 300;
    height: 240px;
    width: 45%;
        text-align: center;
        border: 1px solid gold;
        padding: 20px;
        font-size: medium;
       border-radius: 15px;
        

}
.para>h3>span{
   margin-left: 2px;
     transition: all 0.6s ease-in-out;
      
    font-weight: 600;
    color: pink;
    font-size: 17px;
}

.para>h3>ul{
  margin-top: 12px;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    margin-left: 10px;
    font-size: large;
}
